<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link rel="stylesheet" href="~/Content/themify-icons/themify-icons.css">
</head>
<body>
    <div id="header">
        <ul id="nav">
            <li><a href="#products">Products</a></li>
            <li>
                <a href="#contact">Support</a>
                <ul class="subnav">
                    <li><a href="">Service Network</a></li>
                    <li><a href="">Term of Guarantee</a></li>
                    <li><a href="">Regulation</a></li>
                </ul>
            </li>
            <li><a href="#map">Where to buy</a></li>
            <li><a href="#">My Accout</a></li>
            <li><a href="#">Search<i class="icon-search ti-search"></i></a></li>
        </ul>
        <div id="mobile-menu" class="mobile-menu-btn">
            <i class="menu-icon ti-menu"></i>
        </div>

    </div>
    <div>
        @RenderBody()
    </div>
    <div id="slider">
        <div class="text-content">
            <div class="img-sld"><img src="~/images/slider1.png" alt=""></div>
        </div>
    </div>

    <div id="content">
        <div id="band" class="content-introduce">
            <div class="row introduce-list">
                <div class="col col-half">
                    <img src="~/images/content1.png" alt="" class="member-img">
                </div>
                <div class="col col-half">
                    <img src="~/images/content2.png" alt="" class="member-img">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- tour secction -->
        <div id="products" class="tour-section">
            <div class="content-section-item">
                <h2 class="section-heading text-white">CLASSIC</h2>
                <!-- item  -->
                <div class="row item-list">
                    <div class="col-five col">
                        <img src="~/images/RE-AZ0004S.jpg" alt="RE-AZ004Z" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AZ004Z</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 38.8mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images/RE-AZ0005S.jpg" alt="RE-AZ005Z" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AZ005Z</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 38.8mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images//RE-AY0106S.jpg" alt="RE-AY0106S" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AY0106S</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 41.0mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images/RE-AZ0004S.jpg" alt="RE-AZ004Z" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AZ004Z</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 38.8mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images/RE-AZ0005S.jpg" alt="RE-AZ005Z" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AZ005Z</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 38.8mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images//RE-AY0106S.jpg" alt="RE-AY0106S" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AY0106S</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 41.0mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images/RE-AZ0004S.jpg" alt="RE-AZ004Z" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AZ004Z</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 38.8mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images/RE-AZ0005S.jpg" alt="RE-AZ005Z" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AZ005Z</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 38.8mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images/RE-AY0106S.jpg" alt="RE-AY0106S" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AY0106S</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 41.0mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-five col">
                        <img src="~/images/RE-AZ0004S.jpg" alt="RE-AZ004Z" class="item-img">
                        <div class="item-body">
                            <h3 class="item-heading">RE-AZ004Z</h3>
                            <p class="item-desc">ORIENT STAR: Mechanical Classic Watch, Cordovan Strap - 38.8mm</p>
                            <button class="s-full-width item-buy-btn">Buy now!<i class="ic-arow-left ti-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div id="contact" class="content-section">
            <h2 class="section-heading">CONTACT</h2>
            <div class="row contact-content">
                <div class="col col-half contact-infor">
                    <p><i class="ti-location-pin"></i>Hutech Khu E</p>
                    <p><i class="ti-instagram"></i>Instagram: <a href="https://www.instagram.com/orienteurope">ORIENT CLOCK</a></p>
                    <p><i class="ti-mobile"></i>Phone: <a href="tel:+84-4-39764617">+84-4-39764617</a></p>
                    <p><i class="ti-email"></i>Email: <a href="mailto:info@galle.vn">info@galle.vn</a></p>
                </div>
                <div class="col col-half contact-form">
                    <form action="">
                        <div class="row">
                            <div class="col col-half">
                                <input type="text" name="" placeholder="Name" required id="" class="form-control">
                            </div>

                            <div class="col col-half">
                                <input type="email" name="" placeholder="Email" required id="" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-8">
                            <div class="col col-full">
                                <input type="text" name="" placeholder="Message" id="" class="form-control">
                            </div>
                        </div>
                        <input class="form-submit-btn mt-16" type="submit" value="SEND">
                    </form>
                </div>
            </div>
        </div>

        <div id="map" class="map-section">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4205948966046!2d106.78291401534769!3d10.855580060694717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2zSHV0ZWNoIEtodSBFIC0gVHJ1bmcgVMOibSDEkMOgbyBU4bqhbyBOaMOibiBM4buxYyBDaOG6pXQgTMaw4bujbmcgQ2Fv!5e0!3m2!1svi!2s!4v1677309859870!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
    <footer id="footer">
        <div class="social-list">
            <a href=""><i class="ti-facebook"></i></a>
            <a href=""><i class="ti-instagram"></i></a>
            <a href=""><i class="ti-youtube"></i></a>
            <a href=""><i class="ti-pinterest"></i></a>
            <a href=""><i class="ti-twitter"></i></a>
            <a href=""><i class="ti-linkedin"></i></a>
        </div>
        <p class="copyright">Copyright © 2023  TDK Team. All rights reserved.</p>
    </footer>
</body>
</html>
